<!DOCTYPE html>
<html>
<head>
    <title>Item Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Item Form</h1>
        <form method="post" enctype="multipart/form-data" class="needs-validation">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</body>
</html>