<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f9f9f9; /* Change the background color to a light gray */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-3 text-center">Item List</h1>
        <div class="row">
            {% for item in items %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top img-fluid rounded-circle" width="100">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }} - {{ item.description }}</h5>
                            <p class="card-text">
                                <a href="{% url 'item_update' item.pk %}" class="btn btn-sm btn-primary">Edit</a>
                                <a href="{% url 'item_delete' item.pk %}" class="btn btn-sm btn-danger">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'item_create' %}" class="btn btn-lg btn-successgit config --global user.name "Your Name"">Add new item</a>
    </div>
</body>
</html>